
h6[data-v-241148d3] {
  margin-bottom: 0;
}



.mark[data-v-9f194096] {
  max-width: 50px;
}





#drop-zone[data-v-4b57337e] {
  border-radius: 5px;
  border: 2px dashed #0087f7;
  background: white;
}


hr {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

